<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
      <a class="navbar-brand text-white" href="#">Rhythm</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link text-white " href="#">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white " href="/play-pg/queen-play.html">Play</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white " href="/cont-sub/contact.html">Contact us</a>
              </li>
          </ul>
          <a href="/cont-sub/subscribe.html"><button class="btn btn-outline-success sub-btn " type="button">Subscribe</button></a>
      </div>
  </nav>

  <div class="text-center mx-auto d-block">
      <img src="/assets/randy-fath-GDLdU80UDko-unsplash.jpg" alt="Responsive image" class="card-img-top img-fluid w-100 " id="banner-img">
      <div class="caption">
          <h1 class="card-text">Rhythm of the Board</h1>
          <form action="">
              <a href="/play-pg/queen-play.html"><button class="btn btn-outline-success mx-sm-5 card-btn" type="button">Get Started</button></a>
          </form>
      </div>
  </div>

</header>