<div class="container">
    <h1 style="font-family: 'Playfair Display', serif;">QUOTES</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6" style="font-family: 'Barlow', sans-serif; font-weight: 400;">
        <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <h5 id={{i}}>{{quote.name}}</h5>
            <h6 class="">by {{quote.author}}</h6>
            <button (click)='toggleDetails(i)' class="btn btn-primary">Show Details</button>
          </div>
              <div *ngIf='quote.showDetails'>
                <app-quote-detail [quote]="quote" (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>

                <button type="text"  class="btn btn-outline-success" (click)="upVote()">{{ upCount }}</button>
                <button type="text" class="btn btn-outline-success" (click)="downVote()">{{ downCount }}</button>

              </div>
          <div>
        </div>
      </div>
    </div>
    

      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
  </div>
  