<div class="container">
    <h1>QUOTES</h1>
    <hr>
  
    <div class="row">
      <div class="col-md-6">
        <div *ngFor='let quote of quotes;let i = index'>
          <div>
            <h6 id={{i}}>{{quote.name}}</h6>
            <!-- <button (click)='del(i)' class="btn btn-primary">up vote</button> -->

            <app-quote-detail [quote]="quote" (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
            <div>
            </div>
            <!-- <app-quote-detail  [quote]='quote' (isComplete) = 'upVoteQuote($event,i)'></app-quote-detail>
            <app-quote-detail  [quote]='quote' (isComplete) = 'downVoteQuote($event,i)'></app-quote-detail>
            <app-quote-detail  [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail> -->

          </div>
        </div>
      </div>
      <div class="col-md-6">
        <!-- <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form> -->
      </div>
    </div>
    <!-- <p *ngIf='goals.length > 5'>You have too many goals</p> -->
  </div>
  