<div style="background-color: #0B0909;">
  <div class="container text-white">
    <h1 style="font-family: 'Playfair Display', serif;" class="mb-5">QUOTES</h1>
    <!-- <hr style="background-color: #F78A50;"> -->
  
    <div class="row text-center">
      <div class="col-md-6" style="font-family: 'Barlow', sans-serif; font-weight: 400;">
        <div *ngFor='let quote of quotes;let i = index' class="rounded mb-5 p-3" style="border-top:1px solid #F78A50;">
          <div>
            <h5 id={{i}}>{{quote.name}}</h5>
            <h6 style="font-family: 'Playfair Display', serif;">by {{quote.author}}</h6>
            <button (click)='toggleDetails(i)'  style="color:#54331c; background-color: transparent; border-radius: 4px; border: none;">details</button>
          </div>
              <div *ngIf='quote.showDetails' style="background-color: #161212;" class="rounded">
                <app-quote-detail [quote]="quote" (isComplete) = 'deleteQuote($event,i)' ></app-quote-detail>

                <button type="text"  class="btn btn-outline-success" (click)="upVote()" style="margin-left: 5%; border: 1px solid #A5AEB6; color: #fff;" id="upBtn">
                  <span class="fas fa-arrow-up vote upVote">up</span> {{ upCount }}</button>
                <button type="text" class="btn btn-outline-success" (click)="downVote()" style="margin-left: 5%; border: 1px solid #F78A50; color: #fff;" id="downBtn">
                  <span class="fas fa-arrow-down vote upVote">up</span> {{ downCount }}</button>

              </div>
          <div>
        </div>
      </div>
    </div>
    

      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
  </div>
</div>