<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Playfair+Display:wght@400;500;700&display=swap" rel="stylesheet">

<p>Posted by {{quote.editor}}</p>
<p>{{quote.completeDate|dateCount}} hours have passed since this was posted.</p>
<button (click)= 'quoteDelete(true)' class="btn btn-outline-danger">Delete</button>
<!-- <button appVote>0</button> -->

