<div class="container-fluid">
    <h2 class="text-center" style="font-family: 'Playfair Display', serif;">Add a new Quote</h2>
    <hr>
    <form (ngSubmit)="submitQuote()" #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="">Quote</label>
            <textarea class="form-control" id="name" rows="4" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required></textarea>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
              <p>Quote is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="name">Name of Author</label>
            <input type="text" class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #name='ngModel' required>
            <!-- <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
              <p>Author's name is required</p>
            </div> -->
        </div>

        <div class="form-group">
  
            <label for="editor">Who is poasting this? Name:</label>
            <input type="text" class="form-control" id="editor" rows="4" [(ngModel)]="newQuote.editor" name="editor" #editor="ngModel" required>
        </div>

        <div class="form-group">
  
            <label for="complete" style="margin-right: 8px;">Time</label>
            <input type='time' id="complete" [(ngModel)]="newQuote.completeDate" name="completeDate" #completeDate="ngModel" required>
            <div [hidden]="completeDate.valid || completeDate.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success mt-3">Add Quote</button>
    </form>
  </div>